<div class="question-card">
	<div class="logo">
		<img src="{{questionData.logo_url}}" style="width: 70%; height:auto;">
	</div>
	<label id="example-radio-group-label">{{questionData.question}}</label>
	<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
		[(ngModel)]="clickedAnswer">
		<mat-radio-button class="example-radio-button"
			*ngFor="let answer of convertToJson(questionData?.answers); let i = index" [value]="answer"
			(change)="submitAnswer(i)" [disabled]="disableAnswer">
			{{answer}}
		</mat-radio-button>
	</mat-radio-group>
	<div *ngIf="disableAnswer" style="color: green">{{congratsText}}</div>
	<div *ngIf="!disableAnswer" style="color: red">{{insultText}}</div>
	<div *ngIf="disableAnswer" class="description">
		{{questionData.description}}
	</div>
</div>